{% extends 'menu.html' %}
<!---->


{% block menu %}
<!---->
<h4 style="text-align: center;">HORNEADOS</h4>
<section class="imagenes" style="width: 100%;">
    <div style="display: flex; ">
        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Horneados/chocolatebirth.jpg') }}" alt="">
            <div class="texto">
                <div>Panecillo Chocolate Chispa</div>
            </div>
        </div>

        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Horneados/churroparty.jpg') }}" alt="">
            <div class="texto">
                <div>Panecillo Glaseado</div>
            </div>
        </div>

    </div>
</section>

<section class="imagenes" style="width: 100%; top:20px">
    <div style="display: flex;  height:60%;">
        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Horneados/cinamonraysy.jpg') }}" alt="">
            <div class="texto">
                <div>Panecillo Canela</div>
            </div>
        </div>

        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Horneados/greekyogurtchery.jpg') }}" alt="">
            <div class="texto">
                <div>Bagel Cereza y Yogurt Griego Canela</div>
            </div>
        </div>

    </div>
</section>
<!---->
{% endblock menu %}