{% extends 'menu.html' %}
<!---->


{% block menu %}
<!---->
<h4 style="text-align: center;">BEBIDAS</h4>
<section class="imagenes" style="width: 100%;">
    <div style="display: flex; ">
        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Bebidas/batidobananafresa.jpg') }}" alt="">
            <div class="texto">
                <div>Batido de Banana y Fresas</div>
            </div>
        </div>

        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Bebidas/batidocaramelo.jpg') }}" alt="">
            <div class="texto">
                <div>Batido de Caramelo</div>
            </div>
        </div>

        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Bebidas/batidochocolate.jpg') }}" alt="">
            <div class="texto">
                <div>Batido de Chocolate</div>
            </div>
        </div>

    </div>
</section>

<section class="imagenes" style="width: 100%; top:20px">
    <div style="display: flex;  height:60%;">
        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Bebidas/batidovainilla.jpg') }}" alt="">
            <div class="texto">
                <div>Batido de Vainilla</div>
            </div>
        </div>

        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Bebidas/cafehelado.jpg') }}" alt="">
            <div class="texto">
                <div>Cafe Helado</div>
            </div>
        </div>

        <div class="menuhorneados">
            <img class="imagenhorneados" src="{{ url_for('static', filename = 'imagenes/Bebidas/tehelado.jpg') }}" alt="">
            <div class="texto">
                <div>Té Helado</div>
            </div>
        </div>

    </div>
</section>
<!---->
{% endblock menu %}